<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/aboutus.css')}}">
        <!-- <link rel="stylesheet" href="aboutus.css"> -->
    </head>
    <body>
        <h1>About Us</h1>
        <div class="main">
        <div class="a">
            <div>
                <h2>Codegnan IT Solutions</h2>
            </div>
            <div class="b">
                <h3>Courses Offered</h3>
                <h4>Python Full stack</h4>
                <h4>Java Full stack</h4>
                <h4>Data Science</h4>
            </div>
            <div class="c">
                <h3>Branches</h3>
                <h4>Hyderabad</h4>
                <h4>Viajaywada</h4>
                <h4>Banglore</h4>
            </div>
        </div>
        <div class="c">
            <iframe class="x" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.191162022016!2d78.3858763741266!3d17.498385799600065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91959592aba9%3A0x6bba1d480cb50bad!2sCodegnan%20Hyderabad%20-%20Python%2C%20Java%2C%20Data%20science%2C%20Machine%20learning%2C%20React%20JS%20training%20institute!5e0!3m2!1sen!2sin!4v1726819936515!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </body>
</html>