<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    </head>
    <body>
        <div class="a">
            <div>
                Home
            </div>
            <div>
                Products
            </div>
            <div>
                <a href="{{'aboutus'}}">About Us</a>
            </div>
            <div>
                <a href="{{'contactus'}}">Contact Us</a>
            </div>
            <div>
                <a href="{{'gatherenquirydata'}}">Enquired List</a>
            </div>
        </div>
        <div class="b">
            <div>
                <a href="{{'login'}}">Login</a>
            </div>
            <div>
                <a href="{{'signup1'}}">Sign up</a>
            </div>
        </div>
        <div class="c">
            <div>
                <img src="{{url_for('static',filename='images/toy1.jpg')}}">
            </div>
            <div>
                <img src="{{url_for('static',filename='images/toy2.png')}}">
            </div>
            <div>
                <img src="{{url_for('static',filename='images/toy3.png')}}">
            </div>
            <div>
                <img src="{{url_for('static',filename='images/watch1.jpg')}}">
            </div>
            <div>
                <img src="{{url_for('static',filename='images/watch2.png')}}">
            </div>
            <div>
                <img src="{{url_for('static',filename='images/watch3.png')}}">
            </div>
        </div>
    </body>
</html>